<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
    
</head>
<body>
    <h1>Get a Table at One click </h1>
</br>
    <h3 style="margin-left: 25%;">Enter a number: </h3> 
    <input type="number" name="number" id="pass_number" style="margin-left: 25%;"> 
    <button onclick="func()" >Generate table</button>
    </br>
    </br>
    <table id="table">
     
        
       
    </table>
    <script src="../templates/script.js"></script>
</body>
</html>